@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  src: local('Denk One'), local('DenkOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/denkone/v2/ahLepySZXU_KFQaVZ6XDvPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.font-effect-stonewash {
  -webkit-mask-image: url(//themes.googleusercontent.com/static/patterns/stonewash.png);
  color: #343956;
}

body {
  margin: 0 auto;
  width: 900px;
  height: 100%;
  overflow-y: scroll;
}

header#pageHeader {
  background-color: white;
  font-family: 'Denk One';
  margin-bottom: 50px;
}

header#pageHeader div[role="banner"] {
  font-size: 100px;
  font-weight: bolder;
}

header#pageHeader div[role="complementary"] {
  font-size: 20px;
  font-weight: bold;
}

nav {
  position: absolute;
  width: 200px;
}

nav a {
  border-radius: 10px;
  color: #343956;;
  display: block;
  font-family: 'Denk One';
  font-size: 30px;
  padding-right: 10px;
  text-align: right;
  text-decoration: none;
  -webkit-transition: background-color 1s, color 1s, padding 1s, margin 1s;  /* For Safari 3.1 to 6.0 */
  transition: background-color 1s, color 1s, padding 1s, margin 1s;
}

nav a:not(#active):hover {
  background-color: #24246B;
  color: white;
  padding: 10px 10px;
  margin: 5px 0px;
}

nav a#active {
  background-color: #24246B;
  color: white;
  padding: 10px 10px;
  margin: 5px 0px;
}

section {
  margin-left: 220px;
  position: absolute;
  width: 680px;
  z-index: -1;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}

section header[role="banner"] {
  border-bottom: 2px solid #24246B;
  color: #24246B;
  font-family: 'Denk One';
  font-size: 50px;
  margin-bottom: 30px
}


article {
  color: gray;
  font-family: 'Oxygen';
  line-height: 1.4em;
  margin-bottom: 60px;
}

article header[role="heading"] {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

section#about article header[role="heading"] {
  margin-bottom: 15px;
}

article div.subHeading {
  font-size: 12px;
  margin-bottom: 15px;
}

article ul li {
  margin-bottom: 10px;
}

#scrollTop {
  background-color: black;
  border-radius: 10px;
  bottom: 50px;
  color: white;
  font-weight: bolder;
  padding: 10px 12px 7px;
  position: fixed;
  opacity: 0.5;
  right: 50px;
  text-decoration: none;
  transition:opacity 0.7s ease-out;
}

#scrollTop:hover{
  opacity: 1;
};